apiVersion: v1
kind: Service
metadata:
  name: {{ include "prepper-backend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "prepper-backend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    {{- include "prepper-backend.selectorLabels" . | nindent 4 }}
