# Override image for local cluster (minikube image load / kind load)
image:
  repository: prepper-backend
  tag: latest
  pullPolicy: Never   # use locally loaded image, don't pull from registry

db:
  host: prepper-postgres-postgresql
  user: CHANGEME
  password: CHANGEME
  name: prepper
  createSecret: true

auth:
  adminPassword: CHANGEME
  userPassword: CHANGEME
  createSecret: true
